<form class='centermeMeni'>
<ul class="menu cf">
    <li><a href="registracija">Registruj korisnika</a></li>
    <li>
        <a (click)="navigiraj('prijavnica')">Uloguj se</a>
    </li>
    <li>
        <a (click)="navigiraj('promo')">Promo nekretnine</a>
    </li>
    <li>
        <a (click)="navigiraj('trazi')">Trazi nekretnine</a>
    </li>

</ul>
</form>
<br/>
<br/>
<h2 class="prijavnicaNaslov" id='prijavnica'>
    <br />
    <br />Uloguj se
</h2>
<form  class="prijavnica">

    <br />
    <br />
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type='text' name='korime' [(ngModel)]='korime'>
            </td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td>
                <input type='password' name='lozinka' [(ngModel)]='lozinka'>
            </td>
        </tr>
        <tr>
            <td>Tip:</td>
            <td>
                <select name='tip' [(ngModel)]='tip'>
                    <option value='admin'>Admin</option>
                    <option value='agent'>Agent</option>
                    <option value='registrovanKorisnik'>Korisnik</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <br />
                <button class="dugme1" (click)='prijava()'>Prijava</button>
                <br />
                <br />
                <br />
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br /> <br />
    <br />
    <br />
    <!-- <div *ngIf='poruka' class='greska'>
        {{poruka}}
    </div> -->


</form>
<span *ngIf='poruka' class='poruka'>
    {{poruka}}
</span>
<br/>
<br/>
<div class='galerijaPromo'>

    <br />
    <br />
    <br />
    <br />
    <h2 class='naslov'>Promovisane nekretnine


    </h2>
    <br />
    <br />
    <span *ngFor='let n of sveNekretnine'>

        <div *ngIf='n.galerija!=""; else elseBlock'>

            <span *ngFor='let i of n.galerija'>
                <img width='200px' height='200px' src="assets/{{i}}">
            </span>
        </div>
        
            <ng-template #elseBlock >
                <img  width='300px' height='300px' src="assets/kuca.jpg" alt="">
            </ng-template>
            <br/>
            <br/>
        <h5 class='center2'>{{n.opis}}</h5>
        <p class='center2'>

            Adresa: {{n.adresa}}<br />

            {{n.izdavanje}}<br />

            Tip: {{n.tip}}<br />

            Cena: {{n.cena}} eura<br />

            Sprat: {{n.sprat}}<br />

            Kvadratura: {{n.kvadratura}}<br />

            Broj soba: {{n.sobe}}<br />

            Namestenost: {{n.namestenost}}<br />

            Vlasnik: {{n.vlasnik}}
            <br/>
            <br/>
        </p>
    </span>
</div>
<br/>
<br/>
<h2 class="traziNaslov" id='trazi'>Trazi nekretnine<br /><br /><br /></h2>

<form class="trazi">
    <input type='text' name='pretraga' [(ngModel)]='pretraga' placeholder="Unesi grad">
    <br>
    <br>
    <input type='text' name='cenaOd' [(ngModel)]='cenaOd' placeholder="Cena od">
    <br>
    <br>
    <input type='text' name='cenaDo' [(ngModel)]='cenaDo' placeholder="Cena do">
    <!--<button class='dugme1'(click)='traziCenu()'>Trazi cenu</button>-->
    <br>
    <br>
    <button class="dugme1" (click)='trazi()'>Trazi</button>
    <br>
    <br>
    <br>
    <button class="dugme1" (click)="sortiraj()">Sortiraj po ceni rastuce </button>
    <br>
    <br>
</form>
<form class="center">
    <div *ngIf='ukucaoPretragu==true'>
        <div class="col-md-12" *ngFor='let n of Nekretnine'>

            <div class="card" style="width: 18rem;">
                <!-- <img class="card-img-top" width='350px' height='350px' src="assets/{{n.id}}.jpg" alt=""> -->
                <div *ngIf='n.galerija!=""; else elseBlock'>
                    <img class="card-img-top" width='350px' height='350px' src="assets/{{n.galerija[idSlike]}}" alt="">
                </div>
                <ng-template #elseBlock>
                    <img class="card-img-top" width='350px' height='350px' src="assets/kuca.jpg" alt="">
                </ng-template>
                <div class="card-body">
                    <h5 class="card-title">{{n.opis}}</h5>
                    <p class="card-text">

                        Adresa: {{n.adresa}}<br />

                        {{n.izdavanje}}<br />

                        Tip: {{n.tip}}<br />

                        Cena: {{n.cena}} eura<br />

                        Sprat: {{n.sprat}}<br />

                        Kvadratura: {{n.kvadratura}}<br />

                        Broj soba: {{n.sobe}}<br />

                        Namestenost: {{n.namestenost}}<br />

                        Vlasnik: {{n.vlasnik}}

                    </p>
                    <!-- <a [routerLink]="['../nekretnina', n.id]">Pogledaj nekretninu??????????????</a> -->
                    <br />
                    <br />

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

</form>

<span *ngIf='poruka2' class='poruka'>
    {{poruka2}}
</span>